*{
    box-sizing: border-box;
}

.newPlaylistModal{
    position: fixed;
    z-index: 20;
    height: 22.2rem;
    width: 30rem;
    top: 10rem;
    left: 30rem;
    background-color: peachpuff;
}

.newPlaylistModal h3{
    padding-left: 1rem;
    font-weight: bold;
    color: saddlebrown;
    margin-top: 1rem;
}
.newPlaylistModal input[type="text"]{
    height: 3rem;
    width: 80%;
    background-color: lightgrey;
    border: 1px solid green;
    border-radius: 5px;
    margin: 0 0 1rem 1rem ;
    font-size: medium;
    font-weight: bold;
}

.newPlaylistModal textarea{
    display: block;
    resize: none;
    height: 5rem;
    width: 80%;
    font-family: sans-serif;
    background-color: lightgrey;
    border: 1px solid green;
    border-radius: 5px;
    margin: 1rem 0 1rem 1rem ;
    font-size: larger;
    font-weight: bold;
}

textarea+h3{
    display: inline-block;
    margin-right: 2rem;
}

h3+select{
    /*display: inline-block;*/
    background-color: lightgrey;
    /*background: radial-gradient(circle 10px,yellow 10px,darkgrey 100%);*/
    width: 6.5rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    /*margin-left: 3rem;*/
}

select+div{
    display: inline-block;
    width: 100%;
    text-align: right;
}

h3[type="cancel"]{
    display: inline-block;
    color: red;
    margin: 0.8rem 2rem 0.8rem 0;
    padding: .25rem;
}
h3[type="cancel"]:hover{
    background: lightgrey;
    cursor:pointer
}

h3[type="continue"]{
    display: inline-block;
    color: darkgreen;
    margin: 0.8rem 2rem 0.8rem 0;
    padding: .25rem;
}

h3[type="continue"]:hover{
    background: lightgrey;
    cursor:pointer
}

/*
select.decorated option:hover {
    box-shadow: 0 0 10px 100px darkgrey inset;
}

option[name='yellow']{
    !*background-image:radial-gradient(circle 10px,yellow 10px,darkgrey 100%);*!
    background: yellow;
    border-radius: 5px;
    !*background: radial-gradient(circle 10px,yellow 10px,darkgrey 100%);*!
    height: 1.8rem;
}
option[name='yellow']:hover{
    background-image:radial-gradient(circle 10px,yellow 10px,grey 100%);
    background:radial-gradient(circle 10px,yellow 10px,grey 100%);
    background: saddlebrown;
}
option[name='red']{
    background-image:radial-gradient(circle 10px,red 10px,darkgrey 100%);
    background:radial-gradient(circle 10px,red 10px,darkgrey 100%);
    background: red;
    height: 1.8rem;
    background-color
}
option[name='red']:hover{
    !*background-image:radial-gradient(circle 10px,red 10px,grey 100%);*!
    background:radial-gradient(circle 10px,red 10px,grey 100%);
}
option[name='mustard']{
    background-image:radial-gradient(circle 10px, #ffb72b 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='mustard']:hover{
    background-image:radial-gradient(circle 10px,#ffb72b 10px,grey 100%);
}
option[name='lightgreen']{
    background-image:radial-gradient(circle 10px,lightgreen 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='lightgreen']:hover{
    background-image:radial-gradient(circle 10px,lightgreen 10px,grey 100%);
}
option[name='green']{
    background-image:radial-gradient(circle 10px,forestgreen 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='green']:hover{
    background-image:radial-gradient(circle 10px,forestgreen 10px,grey 100%);
}
option[name='lightblue']{
    background-image:radial-gradient(circle 10px,lightblue 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='lightblue']:hover{
    background-image:radial-gradient(circle 10px,lightblue 10px,grey 100%);
}
option[name='blue']{
    background-image:radial-gradient(circle 10px,royalblue 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='blue']:hover{
    background-image:radial-gradient(circle 10px,royalblue 10px,grey 100%);
}
option[name='orange']{
    background-image:radial-gradient(circle 10px,darkorange 10px,darkgrey 100%);
    height: 1.8rem;
}
option[name='orange']:hover{
    background-image:radial-gradient(circle 10px,darkorange 10px,grey 100%);
}*/

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/*****************************************************************************************************************************/

.HistoryPickerModal{
    position: fixed;
    z-index: 20;
    height: 25rem;
    width: 25rem;
    top: 10rem;
    left: 30rem;
    background-color: peachpuff;
}

.HistoryPickerHeading{
    display: inline-block;
    width: 100%;
}

.HistoryPickerHeading h2{
    display: inline-block;
    width: 80%;
    text-align: center;
    color: blue;
}
.HistoryPickerCloseIcon{
    position: relative;
    left: 1rem;
}
.HistoryPickerSubHeading{
    display: inline-block;
    width: 100%;
    height: 7.5rem;
    margin-left: 1rem;
}
.HistoryPickerSubHeading h3[type="subheading1"]{
    display: inline-block;
    padding-left: 1rem;
    margin: 0px;
}
.HistoryPickerSubHeading p{
    display: inline-block;
    padding-left: 1rem;
    margin: 0px;
    width: 100%;
}
/*.HistoryPickerSubHeading input{*/
/*    display: inline-block;*/
/*    width:100% ;*/
/*}*/
.HistoryPickerIcon{
    display: inline-block;
    margin: 1rem;
}

.HistoryPickerIcon:hover,
.HistoryPickerCloseIcon:hover{
    cursor: pointer;
}
.HistoryPickerSubHeading p+.HistoryPickerIcon{
    margin-left: 3rem;
}
.executionTime,
.accuracy{
    display: inline-block;
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 1.5rem;
    color: chocolate;
}
div[type="playlistSubmit"]{
    display: inline-block;
    width: 100%;
}
div[type="playlistSubmit"] button{
    display: inline-block;
    width: 80%;
    height: 3rem;
    font-weight: bold;
    font-size: large;
    margin: 1rem 2rem;
    background-color: forestgreen;
    color: whitesmoke;
    border-radius: 5px;
    outline: none;
}
div[type="playlistSubmit"] button:hover{
    cursor: pointer;
}
/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/*****************************************************************************************************************************/

.ManualPickerModal{
    position: fixed;
    z-index: 20;
    height: 35rem;
    width: 35rem;
    top: 5rem;
    left: 20rem;
    background-color: peachpuff;
}
.ManualPickerHeading{
    display: inline-block;
    width: 100%;
}

.ManualPickerHeading h2{
    display: inline-block;
    width: 80%;
    text-align: center;
    color: blue;
}
.ManualPickerCloseIcon{
    position: relative;
    left: 1rem;
}
.ManualPickerName,
.ManualPickerDescription{
    display: inline-block;
    width: 100%;
    margin: 1rem 0rem;
}
.ManualPickerName h3,
.ManualPickerDescription h3{
    display: inline-block;
    margin: 0rem 2rem;
    vertical-align: top;
    /*font-size: large;*/
}

.ManualPickerName input{
    display: inline-block;
    margin: 0rem 1rem;
    width: 62%;
    height: 2rem;
    font-size: large;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}
.ManualPickerDescription textarea{
    display: inline-block;
    resize: none;
    height: 3rem;
    width: 57%;
    font-family: sans-serif;
    background-color: lightgrey;
    border: 1px solid green;
    border-radius: 5px;
    /*margin: 0.5rem 0 0.5rem 0rem ;*/
    font-size: large;
    font-weight: bold;
}
.ManualPickerSubHeading{
    display: inline-block;
    width: 100%;
    height: 7.5rem;
    margin-left: 1rem;
}
.ManualPickerSubHeading h3[type="subheading1"]{
    display: inline-block;
    padding-left: 1rem;
    margin: 0px;
}
.ManualPickerSubHeading p{
    display: inline-block;
    padding-left: 1rem;
    margin: 0px;
    width: 100%;
}

.ManualPickerIcon{
    display: inline-block;
    margin: 1rem;
}

.ManualPickerIcon:hover,
.ManualPickerCloseIcon:hover{
    cursor: pointer;
}
.ManualPickerSubHeading p+.ManualPickerIcon{
    margin-left: 6rem;
}
.ManualExecutionTime,
.ManualAccuracy{
    display: inline-block;
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 1.5rem;
    color: chocolate;
}
/**********************************************************************************************************************************/
.AlertMessageModal{
    position: fixed;
    z-index: 20;
    height: 10rem;
    width: 30rem;
    top: 15rem;
    left: 30rem;
    background-color: peachpuff;
}
.AlertMessageModal h2{
    display: block;
    margin: 1.5rem ;
    text-align: center;
    color: saddlebrown;
    font-weight: bold;
    /*font-size: 2;*/
}
.AlertMessageModal button[type="cancel"]{
    display: inline-block;
    margin: 1rem 5rem;
    background-color: lightgreen;
    color: darkgreen;
    height: 2rem;
    width: 5rem;
    font-size: large;
    font-weight: bolder;
    border: 1px solid slateblue;
    border-radius: 5px;
    box-shadow: 2px 2px saddlebrown;
    outline: none;
}
.AlertMessageModal button[type="cancel"]:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: darkgreen;
}
.AlertMessageModal button[type="yes"]{
    display: inline-block;
    margin: 1rem 3rem;
    background-color: orange;
    color: orangered;
    height: 2rem;
    width: 5rem;
    font-size: large;
    font-weight: bolder;
    border: 1px solid slateblue;
    border-radius: 5px;
    box-shadow: 2px 2px saddlebrown;
    outline: none;
}
.AlertMessageModal button[type="yes"]:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: orangered;
}