* {
    box-sizing: border-box;
}

.PlaylistsPage {
    display: inline-block;
    margin: 30px 0px 0px 100px;
    height: 100%;
    width: 92%;
    vertical-align: middle;
    justify-content: space-between;
}

.Page_headings {
    display: inline-block;
    width: 100%;
    height: 20%;
}

.Page_headings h1 {
    display: inline-block;
    width: 50%;
    margin: 0px;
    text-align: center;
}

.Page_headings_active {
    /*background: coral;*/
    border: 2px solid coral;
    box-shadow: 2px 4px slategrey;
}

.Page_subheadings {
    display: inline-block;
    width: 100%;
    height: 10%;
}

.Page_subheading_left {
    display: inline-block;
    width: 50%;
}

.Page_subheading_left h2 {
    display: inline-block;
    width: 50%;
    margin: 0px 3vw 0px 0px;
}

.Page_subheading_left button{
    /*width: 50%;*/
    display: inline-block;
    margin: 0px 0px 0px 3vw;
    color: white;
    background: saddlebrown;
    border-radius: 8px;
    height: 5vh;
    font-weight: bolder;
    font-size: medium;
    outline: none;
    alignment: right;
}

.Page_subheading_left button:hover{
    color: saddlebrown;
    background: peachpuff;
}

.newPlaylistModal{
    position: fixed;
    z-index: 15;
    height: 20rem;
    width: 20rem;
    top: 0rem;
    left: 20rem;
    background-color: saddlebrown;
}

.Page_subheading_right {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.Page_subheading_right h3 {
    display: inline-block;
    /*width: 0%;*/
    horiz-align: right;
    margin-right: 20px;
    color: blue;
    margin: 10px 10px;
    /*float: right;*/
}

.Grid_MapContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    /*height: 100%;*/
}

.Grid {
    display: inline-block;
    vertical-align: top;
    /*position:inherit;*/
    width: 50%;
    height: 75vh;
    border: 2px solid black;
    border-radius: 5px;
}

.GridList {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid black;*/
}

.Lists {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 0px;
}

.SubMenu {
    display: inline-block;
    height: 10%;
    width: 100%;
    position: relative;
    bottom: 5px;
    border: 2px solid grey;
    border-radius: 2px;
}

.googleMaps {
    display: inline-block;
    /*vertical-align: top;*/
    position: relative;
    /*bottom: 15px;*/
    width: 50%;
    height: 75vh;
    border: 2px solid black;
    border-radius: 2px;
}

.playlist_PLAYBOX{
    display: inline-block;
    position: absolute;
    /*top: 60vh;*/
    bottom: 0vh;
    z-index: 60;
    width: 100%;
    /*height: 20vh;*/
    background: forestgreen;
    border: 2px solid black;
    overflow-y: auto;
    transition: height 0.6s ;
}

.playlist_PLAYBOX_close{
    height: 3vh;
}

.playlist_PLAYBOX_open{
    height: 30vh;
}

